body {
	background-color: #42C0FB;
	color:#fff;
	text-transform: uppercase;
	font-size:32px;
}

#clock {
	height:960px;
	width:1080px;
}

#snapshotImageElement {
	position: absolute;
	left: 10px;
	top: 1.5em;
	margin: 20px;
	border: thin solid #aaaaa;
}

canvas {
	background-color: #fff;
	position: absolute;
	left: 10px;
	top: 1.5em;
	margin: 20px;
	border:thin solid #aaaa;
}