body {
	background: rgba(100, 145, 250, 0.3);
}

#canvas {
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	border: thin solid #aaaaa;
	cursor: crosshair;
}

#controls {
	margin: 20px 0px 20px 20px;
}

a {
	font: 18px Times Roman;
	text-decoration: none;
	margin-right: 15px;
}